<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>call api</title>
</head>
<body>
    <h1>this is homepage</h1>
    <div>
        <form  method="get" action="http://127.0.0.1:3000/call" enctype="">
            <input type="submit" value="call" id="call">
        </form>
    </div>
</body>
<script>
    
</script>
</html>

